src/validation/pef-2008-1.nvdl

<?xml version="1.0" encoding="UTF-8"?>
<rules xmlns="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0" startMode="pef" >
    <mode name="pef">
        <namespace ns="http://www.daisy.org/ns/2008/pef">
            <validate schema="pef-2008-1.rng" useMode="attach"/>
            <validate schema="pef-2008-1.sch" useMode="attach"/>
        </namespace>
    </mode>
    <mode name="attach">
        <anyNamespace>
            <attach/>
        </anyNamespace>
    </mode>
</rules>